html, body {
 	height: 100vh;
 	width: 100vw;
 }

#background-1 {
 	background: url(img/bg3.jpg) no-repeat center center fixed;
 	display: table;
 	height: 100vh;
 	position: relative;
 	width: 100vw;
 	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;  
	}
}
@media only screen and (max-device-width: 800px) {
  .parallax {
    background-attachment: scroll;
  }
}
