html, body {
 	height: 100%;
      margin: 0;
 }

.parallax {
      background:url(img/bg3.jpg) no-repeat center center;
      background-attachment: fixed;
      height: 100%;
      background-size: cover;
}
@media only screen and (max-device-width: 800px) {
      .parallax {
    background-attachment: scroll;
  }
}
